body {
    background: linear-gradient(135deg, #007bff 0%, #6610f2 100%);
}

.card {
    border-radius: 1rem;
}

.card-header {
    border-top-left-radius: 1rem !important;
    border-top-right-radius: 1rem !important;
    background: linear-gradient(45deg, #0056b3, #007bff);
}

.btn-primary {
    background-color: #0056b3;
    border-color: #0056b3;
}

.btn-primary:hover {
    background-color: #004494;
    border-color: #004494;
}
