{% load i18n %}

{% block html_body %}
<p>{% blocktrans %}Hello {{ user.username }}, {% endblocktrans %}</p>
<p>{% trans "We received a request to reset your password. Click the button below to set a new password:" %}</p>
<p>
    <a href="{{ protocol }}://{{ domain }}/{{ url }}"
        style="background-color: #007bff; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px; display: inline-block;">
        {% trans "Reset My Password" %}
    </a>
</p>
<p>{% trans "If you did not request a password reset, please ignore this email." %}</p>
<p>{% trans "The Kelibia Smart City Team" %}</p>
{% endblock %}
